# PostgreSQL Connection String
# LOCAL DEVELOPMENT
DATABASE_URL=postgresql://user:password@localhost:5432/barbados

# RENDER/RAILWAY/NEON
# DATABASE_URL=postgresql://user:password@host.databases.xxx.com:5432/dbname

# Server
PORT=3000
NODE_ENV=development
